<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="layered_navigation">

                <field id="size_attribute_code" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Size attribute</label>
                    <source_model>Likemusic\SaveSize\Model\Config\Source\ProductAttribute\Options</source_model>
                </field>

            </group>
        </section>
    </system>
</config>
